* Create table in Database using Python
* Read CSV Data from files
* Data Type Conversion of non string columns
* Populate Data into Table
* Validate Data in the Table
* Limitations of the Approach
* Overview of Metadata Driven or Dynamic Programming
* Exercise and Solution

In [ ]:
import psycopg2

In [ ]:
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)

In [ ]:
cur = conn.cursor()

In [ ]:
# Create table in Database using Python
cur.execute('DROP TABLE IF EXISTS departments')

In [ ]:
cur.execute('''
    CREATE TABLE departments(
        department_id INT PRIMARY KEY,
        department_name VARCHAR(30)
    )
''')

In [ ]:
# Read CSV Data from files
with open('data/retail_db/departments/part-00000') as fp:
    data = fp.read().splitlines()

In [ ]:
# Data Type Conversion of non string columns

departments = []
for rec in data:
    r = rec.split(',')
    departments.append((int(r[0]), r[1]))

departments

In [ ]:
# Populate Data into Table
query = '''
    INSERT INTO departments (department_id, department_name)
    VALUES (%s, %s)
'''

In [ ]:
cur.executemany(query, departments)

In [ ]:
conn.commit()

In [ ]:
# Validate Data in the Table
cur.execute('SELECT * FROM departments')

In [ ]:
cur.fetchall()

In [ ]:
# Limitations of the Approach
# Not dynamic
# Column names and table name are hard coded

In [ ]:
# Overview of Metadata Driven or Dynamic Programming
# Make sure neither table name nor column names are not hard coded
# Modularize using read, process, write pattern

* Exercise: Read data from `data/sales/part-00000` and write to `sales` table.
  * Create `sales` table if it does not exists.
  * Read the from `data/sales/part-00000`.
  * Make sure to build list of tuples with appropriate types. If any value is empty string, make sure to covert it to `None`.
  * Populate data using `executemany` and commit.
  * Run the query and review the results. The table should contain 10 records.