* Overview of sorting (`sort` and `sorted`)
* Using `sort` to sort list
* Disadvantages of using `sort`
* Overview of `sorted`
* Sort iterable of integers
* Reverse Sorting
* Sort list of tuples based on **sale amount**
* Sort list of dicts based on **sale_amount**
* Sort below list of tuples based on **sale amount**.
* Exercises and Solutions

* Overview of sorting (`sort` and `sorted`)
  * `sort` for inplace sorting on list.
  * `sorted` to sort data in any iterable.
  * On top of list or iterable, we can also pass relevant logic to `key` to sort based on key.
  * Sorting can be reversed using `reverse`.

* Using `sort` to sort list

In [2]:
l = [2, 1, 4, 3, 2, 5, 1, 3]

In [3]:
l.sort() # returns nothing and sorts inplace

In [4]:
l

[1, 1, 2, 2, 3, 3, 4, 5]

In [5]:
l = [2, 1, 4, 3, 2, 5, 1, 3]

In [6]:
l.sort(reverse=True)

In [7]:
l

[5, 4, 3, 3, 2, 2, 1, 1]

* Disadvantages of using `sort`
  * Only works on `list`.
  * The list on which `sort` is invoked will be updated.

* Overview of `sorted`
  * Any iterable can be sorted using `sorted`.
  * Always return a `list`.
  * Original iterable will be untouched.

* Sort iterable of integers

In [8]:
l = [2, 1, 4, 3, 2, 5, 1, 3]

In [9]:
l.sort()

In [11]:
l

[2, 1, 4, 3, 2, 5, 1, 3]

In [10]:
l = [2, 1, 4, 3, 2, 5, 1, 3]

In [12]:
sorted(l)

[1, 1, 2, 2, 3, 3, 4, 5]

In [ ]:
l # original iterable (list) is untouched

* Reverse Sorting

In [13]:
l = [2, 1, 4, 3, 2, 5, 1, 3]

In [14]:
l.sort(reverse=True)

In [15]:
l

[5, 4, 3, 3, 2, 2, 1, 1]

In [16]:
l = [2, 1, 4, 3, 2, 5, 1, 3]

In [18]:
sorted(l, reverse=True)

[5, 4, 3, 3, 2, 2, 1, 1]

In [19]:
l

[2, 1, 4, 3, 2, 5, 1, 3]

* Sort list of tuples based on **sale amount**

In [20]:
sales = [
    (1, 101, 500.00, 5),
    (2, 102, 250.00, 3),
    (3, 103, 1000.00, 8),
    (4, 104, 750.00, None),
    (5, 101, 300.00, -1),
    (6, 106, 400.00, 3),
    (7, 104, 200.00, 0),
    (8, 103, 150.00, 1),
    (9, 104, 600.00, 4),
    (10, 101, 800.00, 6)
]

In [21]:
sorted(sales, key=lambda i: i[2])

[(8, 103, 150.0, 1),
 (7, 104, 200.0, 0),
 (2, 102, 250.0, 3),
 (5, 101, 300.0, -1),
 (6, 106, 400.0, 3),
 (1, 101, 500.0, 5),
 (9, 104, 600.0, 4),
 (4, 104, 750.0, None),
 (10, 101, 800.0, 6),
 (3, 103, 1000.0, 8)]

In [22]:
from pprint import pprint
pprint(sorted(sales, key=lambda i: i[2]))

[(8, 103, 150.0, 1),
 (7, 104, 200.0, 0),
 (2, 102, 250.0, 3),
 (5, 101, 300.0, -1),
 (6, 106, 400.0, 3),
 (1, 101, 500.0, 5),
 (9, 104, 600.0, 4),
 (4, 104, 750.0, None),
 (10, 101, 800.0, 6),
 (3, 103, 1000.0, 8)]

In [23]:
pprint(sorted(sales, key=lambda i: i[2], reverse=True))

[(3, 103, 1000.0, 8),
 (10, 101, 800.0, 6),
 (4, 104, 750.0, None),
 (9, 104, 600.0, 4),
 (1, 101, 500.0, 5),
 (6, 106, 400.0, 3),
 (5, 101, 300.0, -1),
 (2, 102, 250.0, 3),
 (7, 104, 200.0, 0),
 (8, 103, 150.0, 1)]

* Sort below list of dicts based on **sale amount**.

In [ ]:
sales = [
    {'sale_id': 1, 'sale_rep_id': 101, 'sale_amount': 500.00, 'commission_pct': 5},
    {'sale_id': 2, 'sale_rep_id': 102, 'sale_amount': 250.00, 'commission_pct': 3},
    {'sale_id': 3, 'sale_rep_id': 103, 'sale_amount': 1000.00, 'commission_pct': 8},
    {'sale_id': 4, 'sale_rep_id': 104, 'sale_amount': 750.00, 'commission_pct': None},
    {'sale_id': 5, 'sale_rep_id': 101, 'sale_amount': 300.00, 'commission_pct': -1},
    {'sale_id': 6, 'sale_rep_id': 106, 'sale_amount': 400.00, 'commission_pct': 3},
    {'sale_id': 7, 'sale_rep_id': 104, 'sale_amount': 200.00, 'commission_pct': 0},
    {'sale_id': 8, 'sale_rep_id': 103, 'sale_amount': 150.00, 'commission_pct': 1},
    {'sale_id': 9, 'sale_rep_id': 104, 'sale_amount': 600.00, 'commission_pct': 4},
    {'sale_id': 10, 'sale_rep_id': 101, 'sale_amount': 800.00, 'commission_pct': 6}
]

sorted(sales, key=lambda i: i['sale_amount'])

In [ ]:
from pprint import pprint
pprint(sorted(sales, key=lambda i: i['sale_amount']))

In [ ]:
pprint(sorted(sales, key=lambda i: i['sale_amount'], reverse=True))

* Exercise 1: Sort the students data based on reverse order of total score.

* Exercise 2: Get total score along with other details as part of sorted output. Use `total_score` as key for **total score**.

In [1]:
students = [
    {'student_id': 1, 'scores': [80, 92, 85]},
    {'student_id': 2, 'scores': [75, 99, 82]},
    {'student_id': 3, 'scores': [92, 80, 77]},
    {'student_id': 4, 'scores': [63, 88, 70]},
    {'student_id': 5, 'scores': [92, 94, 91]}
]